@font-face {
    font-family: 'Gabriel Weiss';
    src: url('./assets/gabriel-weiss-friends-font/GabrielWeissFriendsFont-VGq7B.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Gabriel Weiss', sans-serif;
}

#app{
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
}

