@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



.woefew{
    color: rgb(0, 0, 0, 0.7);
}

#app{
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    flex-direction: column;
}